<%= button_to "Return to Discover", discover_path(@user.id), class: "btn discover", method: :get %>
<%= button_to "Create a Viewing Party", "", class: "btn new-party", method: :get %>
<h1><%= @movie.title %></h1>
<p>Vote Average: <%= @movie.vote %></p>
<p>Runtime: <%= @movie.runtime %></p>
<p>Genres: <%= @movie.genres.join(", ") %>
<p>Summary: <%= @movie.summary %>
<h3 style="text-decoration: underline">Cast</h3>
<% @cast.each do |member| %>
  <p><%= "#{member.character}: #{member.actor}" %></p>
<% end  %>
<br>
<h3 style="text-decoration: underline">Reviews</h3>
<p><%= @reviews[:count] %> Reviews</p>
<% @reviews[:review_info].each do |review| %>
  <p>Reviewer: <%= review.author %></p>
  <p>Username: <%= review.username %></p>
  <p>Reviewer Rating: <%= review.rating %></p>
  <p><%= link_to review.url, review.url %></p>
  <p><%= review.content %></p>
  <br>
<% end %>


