<h3>Discover Movies</h3>
<%= form_with url: search_results_path, data: {turbo: false}, method: :get, local: true do |f| %>
  <%= f.submit "Find Top Rated Movies" %>
<% end %>

<%= form_with url: search_results_path, data: {turbo: false}, method: :get, local: true do |f| %>
  <%= f.label :enter_keywords %>
  <%= f.text_field :keywords %>
  <%= f.submit "Find Movies" %>
<% end %>